[submodule "ilastik"]
	path = ilastik
	url = https://github.com/vibbits/ilastik
[submodule "volumina"]
	path = volumina
	url = https://github.com/vibbits/volumina
[submodule "lazyflow"]
	path = lazyflow
	url = https://github.com/vibbits/lazyflow
